<html lang="en" xmlns:th="http://www.thymeleaf.org">
	
	<head>
		<title>Lista Prenotazioni</title>
		
		<link rel="stylesheet" 
			type="text/css" 
			href="https://cdn.datatables.net/v/bs4/dt-1.10.25/datatables.min.css" />
		<link rel="stylesheet" 
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
			integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
			crossorigin="anonymous" />
	</head>
	
	<body>
		
		<div class="container">
		
			<h3>Lista Prenotazioni</h3>
			
			<br/><br/>
			<table class="table table-bordered table-striped" id="prenotazioniTable">
			
				<thead>
					<tr>
						<th>Sala</th>
                        <th>ID</th>
						<th>Ora Arrivo</th>
						<th>Min Arrivo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p: ${prenotazioni}">
						<td th:text="${p.sala}" />
                        <td th:text="${p.idUtente}" />
						<td th:text="${p.oraArrivo}" />
						<td th:text="${p.minArrivo}" />
						
					</tr>
				</tbody>
				
			</table>
		</div>
		
	</body>
	
</html>