<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logout</title>
    <script type="application/javascript">
        function removeCookies() {
            var res = document.cookie;
            var multiple = res.split(";");
            for(var i = 0; i < multiple.length; i++) {
                var key = multiple[i].split("=");
                document.cookie = key[0]+" =; expires = Thu, 01 Jan 1970 00:00:00 UTC";
            }
        }

        function logout() {
            removeCookies();
            window.location.replace("https://ssd-project-auth.duckdns.org/realms/progettoSSD/protocol/openid-connect/logout?redirect_uri=https://ssd-project.duckdns.org/logout");
        }
    </script>
</head>
<body>
<a><script type="application/javascript">logout()</script></a>
</body>
</html>